@charset "utf-8";
/* CSS Document */

ul {
  font-family: 宋体;
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index:99;
}
ul li {
  display: block;
  position: relative;
  float: left;
}
li ul { display: none; }
ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  border-top: 0px solid #ffffff;
  padding:10px 15px 10px 15px ;
  background: #4ABC96;
  margin-left: 1px;
  white-space: nowrap;
}
ul li a:hover { background: #4ABC96; }
li:hover ul {
  display: block;
  position: absolute;
}
li:hover li {
  float: none;
  font-size: 12px;
}

li:hover a { background: #4ABC96; }
li:hover li a:hover { background: #4ABC96; }